@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic|PT+Sans+Caption:400,700|PT+Sans+Narrow:400,700|Crimson+Text:400,400italic,600,600italic,700,700italic);

/*************************************************************
Reset body margin and padding
*************************************************************/

body {
  margin: 0;
  padding: 0;
}

/*************************************************************
Page-width
*************************************************************/

.page-wrapper {
  width:100%;
}

/*************************************************************
Basic element styles
*************************************************************/

p {
  font-family: 'PT Sans', sans-serif;
  font-size: 0.875em;
}

a {
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h3 {
  text-align: center;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 2.375em;
  letter-spacing: 0.02em;
  margin-bottom: 0.8em;
}

/*************************************************************
Header styles
*************************************************************/

header[role=banner] {
  height:5%;
  background-image: url("../img/zen_header_bild.jpg");
  background-image: -moz-linear-gradient(top,  rgba(255,255,255,0) 30%, rgba(255,255,255,1) 85%), url("../img/zen_header_bild.jpg"); /* FF3.6+ */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(30%,rgba(255,255,255,0)), color-stop(85%,rgba(255,255,255,1))), url("../img/zen_header_bild.jpg"); /* Chrome,Safari4+ */
  background-image: -webkit-linear-gradient(top,  rgba(255,255,255,0) 30%,rgba(255,255,255,1) 85%), url("../img/zen_header_bild.jpg"); /* Chrome10+,Safari5.1+ */
  background-image: -o-linear-gradient(top,  rgba(255,255,255,0) 30%,rgba(255,255,255,1) 85%), url("../img/zen_header_bild.jpg"); /* Opera 11.10+ */
  background-image: -ms-linear-gradient(top,  rgba(255,255,255,0) 30%,rgba(255,255,255,1) 85%), url("../img/zen_header_bild.jpg"); /* IE10+ */
  background-image: linear-gradient(to bottom,  rgba(255,255,255,0) 30%,rgba(255,255,255,1) 85%), url("../img/zen_header_bild.jpg"); /* W3C */
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  color: #adc654;
  text-align: center;
  text-transform: uppercase;
  font-family: 'PT Sans Caption', sans-serif;
  font-size:8.4375em;
  padding-top: 2%;
  margin: 0;
  opacity: 0.85;
}

h2 {
  color: #4e5850;
  text-align: center;
  font-family: 'Crimson Text', serif;
  font-size: 4em;
  font-style: italic;
  font-weight: 600;
  letter-spacing: 0.02em;
  word-spacing: 0.1em;
  margin-bottom: 0.4em;
}

/*************************************************************
Summary styles
*************************************************************/

.summary {
  color: #4e5850;
  text-align: center;
  line-height: 0.5em;
}

.summary a {
  color: #4e5850;
}

/*************************************************************
Preamble styles
*************************************************************/

.preamble {
  text-align: justify;
  padding: 0 25% 0 25%;
  margin: 100px 5% 100px 5%;
  background-image: url("../img/ornament_left.png"), url("../img/ornament_right.png");
  background-repeat: no-repeat;
  background-position: left, right;
  background-size: 20%;
}

.preamble p {
  font-family: 'Crimson Text', serif;
  font-size: 1.3em;
  line-height: 1.4em;
  color: #4e5850;
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 1.4em;
}

.preamble h3 {
  color: #adc654;
}

/*************************************************************
Main styles
*************************************************************/

.main {
  background-image: url("../img/zen_bild_2.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  color: #fff;
  margin: 0 auto;
  border-top: 14px solid #adc654;
}
.main p {
  color: #fff;
  text-align: justify;
}
.main h3 {
  font-family: 'Crimson Text', serif;
  font-style: italic;
  font-weight: 400;
  font-size: 1.8em;
  letter-spacing: 0.05em;
  text-align: left;
}

.main a {
  color: #adc654;
}


.explanation, .participation, .benefits {
  width: 26.66%;
  float: left;
  padding: 2% 0 3%;
  line-height: 1.4em;
  font-size: 1.1em;
}

.explanation, .participation, .benefits  {
  padding-left: 5%;
}

.benefits {
  padding-right: 5%;
}

/*************************************************************
Requirement styles
*************************************************************/

.requirements, .main footer  {
  clear: both;
  width: 100%;
  background-color: #adc654;
  text-align: center;
  margin: 0 auto;
}
.requirements {
  color: #4e5850;
  border-top: 14px solid #fff;
  padding-bottom: 1%;
  padding-top: 1%;
  background-image: url("../img/ornament_2_left.png"), url("../img/ornament_2_right.png");
  background-repeat: no-repeat;
  background-position: 10% 70%, 90% 70%;
  background-size: 3%;
}

.requirements h3 {
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 2.375em;
  font-weight: bold;
  font-style: normal;
  letter-spacing: 0.02em;
  margin-bottom: 0.8em;
  text-align: center;
}

.requirements p, .main footer a {
  color: #404741;
  font-family: 'Crimson Text', serif;
  font-size: 1.1em;
  line-height: 1.4em;
  max-width: 800px;
  margin: 0 auto 1.4em;
}

.requirements a, .main footer a {
  color: #404741;
  font-weight: bold;
}

.main footer {
  padding-bottom: 50px;
}

.main footer a {
  padding: 0;
}

/*************************************************************
Design-selection styles
*************************************************************/

.design-selection {
  color: #fff;
  background-color: #4e5850;
  font-family: 'PT Sans', sans-serif;
  text-align: center;
  padding: 1% 0 2%;
  min-height: 400px;
}

.design-selection a {
  color: #adc654;
}

.design-selection ul {
  width: 1000px;
  margin: 0 auto;
}

.design-selection li {
  display:inline;
  float: left;
  width: 235px;
  padding-right: 5px;
}

.design-name {
  display: block;
  padding-bottom: 0.5em;
  margin-top: 1em;
  font-size: 1.5em;
}

.designer-name {
  display: block;
  padding-bottom: 1em;
  padding-top: 0.5em;
}

/*************************************************************
Archives and resources styles
*************************************************************/


.design-archives,
.zen-resources {
  width: 10%;
  min-height: 280px;
  text-align: left;
  font-family: 'PT Sans', sans-serif;
  line-height: 1.6em;
  background-color: #c8cbb3;
  padding-top: 1%;
}

.design-archives {
  float: left;
  padding-left: 35%;
  padding-right: 10%;
}

.zen-resources {
  float: right;
  padding-right: 35%;
}


.design-archives h3,
.zen-resources h3 {
  text-align: left;
  color: #4e5850;
}

.design-archives ul,
.zen-resources ul {
  padding: 0;
}

.design-archives li,
.zen-resources li {
  list-style: none;
}

.design-archives a,
.zen-resources a {
  color: #4e5850;
}


/*************************************************************
Media queries
*************************************************************/

@media screen and (max-width: 1112px) {
  h1 {
    font-size: 7em;

  }
  .preamble {
    background-image: none;
    padding: 0 10%;
  }
  .requirements {
    background-image: none;
  }


}

@media screen and (max-width: 1400px) {
  .requirements {
    background-position: 5% 60%, 95% 60%;
  }


}

@media screen and (min-width: 2020px) {
  .preamble {
    background-size: 16%;
  }
  .requirements {
    background-position: 20% 70%, 80% 70%;
    background-size: 2.5%;
  }

}
